.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 1024px;
    min-width: 1440px;
    width: 100%;
}

.screen .frame {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    gap: 182px;
    height: 86px;
    justify-content: center;
    padding: 26px 39px;
    position: relative;
    width: 1440px;
}

.screen .user-wrapper {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    gap: 10px;
    left: 1357px;
    padding: 10px;
    position: absolute;
    top: 21px;
}

.screen .user-instance {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.screen .arrow-left-sharp {
    height: 35px !important;
    left: 39px !important;
    position: absolute !important;
    top: 26px !important;
    width: 35px !important;
}

.screen .search-bar {
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 25px;
    display: flex;
    height: 54px;
    justify-content: space-between;
    margin-bottom: -10.00px;
    margin-top: -10.00px;
    padding: 11px 21px;
    position: relative;
    width: 792px;
}

.screen .group {
    height: 25.41px;
    position: relative;
    width: 195px;
}

.screen .text-wrapper {
    color: #00000091;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 100%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 98.97%;
}

.screen .iconsax-linear-wrapper {
    border: 1px solid;
    border-color: #00000042;
    border-radius: 15px;
    height: 38px;
    margin-bottom: -3.00px;
    margin-top: -3.00px;
    position: relative;
    width: 38px;
}

.screen .iconsax-linear {
    height: 36.47%;
    left: 29.33%;
    position: relative;
    top: 31.25%;
    width: 41.33%;
}

.screen .vector {
    height: 83.33%;
    left: 3.56%;
    position: absolute;
    top: 2.92%;
    width: 83.33%;
}

.screen .div {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #b5b5b5;
    height: 868px;
    position: relative;
    width: 1440px;
}

.screen .image {
    aspect-ratio: 1.21;
    height: 436px;
    left: 58px;
    object-fit: cover;
    position: absolute;
    top: 44px;
    width: 527px;
}

.screen .div-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 621px;
    padding: 10px;
    position: absolute;
    top: 164px;
}

.screen .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.screen .frame-2 {
    align-items: center;
    background-color: #e4e4e4;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    left: 631px;
    padding: 10px;
    position: absolute;
    top: 225px;
    width: 692px;
}

.screen .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.screen .frame-3 {
    align-items: center;
    align-self: center;
    display: flex;
    gap: 50px;
    height: 70px;
    justify-content: center;
    padding: 5px 645px;
    position: relative;
    width: 1440px;
}

.screen .frame-4 {
    align-items: center;
    display: flex;
    gap: 7px;
    margin-left: -105.00px;
    position: relative;
    width: 155px;
}

.screen .add-circle {
    height: 60px;
    position: relative;
    width: 63px;
}

.screen .frame-5 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.screen .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .frame-6 {
    align-items: center;
    display: flex;
    gap: 7px;
    margin-right: -105.00px;
    position: relative;
    width: 155px;
}
