@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

.place-detail-container {
  max-width: 100%;
  margin: 0 auto;
}

/* 검색창 컨테이너 */
.search-container {
  position: relative;
  width: 40%;
}

/* 검색 입력창 */
.search-input {
  width: 90%;
  padding: 0.8rem 3rem 0.8rem 1.5rem; /* 오른쪽 아이콘 공간 확보 */
  font-size: 1rem;
  border-radius: 2rem; /* 타원형 모양 */
  background-color: #f8f9fa;
  color: #333;
  outline: none; /* 클릭 시 테두리 제거 */
  border-color: #adb5bd;
}

.search-input::placeholder {
  color: #adb5bd;
}

/* 검색 아이콘 */
.search-icon-span {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #adb5bd;
}

/* 뒤로가기 관련 */
.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0; /* 크기 고정 */
}

/* 뒤로가기 아이콘 */
.icon-back {
  font-size: 1.8rem;
  color: #868e96;
  font-weight: bold;
}

/* 메인 콘텐츠 */

.detail-main-content {
  display: flex;
  gap: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.image-placeholder {
  width: 30%;
  flex-shrink: 0;
  background-color: #0077c2; /* 이미지 대신 파란색 계열 배경 */
  border-radius: 12px;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 70%;
}

.place-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
}

.description-box {
  background-color: #f8f9fa;
  border: 1px solid #f1f3f5;
  border-radius: 8px;
  padding: 1.5rem;
  font-size: 1rem;
  color: #495057;
  line-height: 1.6;
}

.description-box p {
  margin: 0 0 0.5rem 0;
}