.div-wrapper {
    background-color: #ffffff;
    display: flex;
    min-height: 1024px;
    min-width: 1440px;
    width: 100%;
}

.div-wrapper .frame {
    background-image: url(./frame-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    width: 987px;
}

.div-wrapper .div {
    align-items: center;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 1024px;
    justify-content: center;
    padding: 129px 44px;
    position: relative;
    width: 453px;
}

.div-wrapper .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.div-wrapper .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.div-wrapper .text-wrapper-2 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.div-wrapper .frame-4 {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    height: 57px;
    padding: 10px 20px;
    position: relative;
    width: 310px;
}

.div-wrapper .text-wrapper-3 {
    color: #d9d9d9;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25.4px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.div-wrapper .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    position: relative;
}

.div-wrapper .button-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: 111px;
}

.div-wrapper .button {
    all: unset;
    align-items: center;
    align-self: stretch;
    border: 1px solid;
    border-color: var(--palette-info-states-outlinedborder);
    border-radius: var(--shape-borderradius);
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 8px 22px;
    position: relative;
    width: 100%;
}

.div-wrapper .focus-ripple {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.div-wrapper .base {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
}

.div-wrapper .button-2 {
    color: var(--palette-info-main);
    font-family: var(--button-large-font-family);
    font-size: var(--button-large-font-size);
    font-style: var(--button-large-font-style);
    font-weight: var(--button-large-font-weight);
    letter-spacing: var(--button-large-letter-spacing);
    line-height: var(--button-large-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.div-wrapper .base-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    margin-left: -5.00px;
    margin-right: -5.00px;
    position: relative;
}

.div-wrapper .frame-6 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 100%;
}

.div-wrapper .google-action-login {
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 12.72px;
    box-shadow: 0px 2.54px 3.82px #0000002b, 0px 0px 3.82px #00000015;
    height: 69px;
    position: relative;
    width: 100%;
}

.div-wrapper .frame-7 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 12.72px;
    display: inline-flex;
    gap: 19.09px;
    left: calc(50.00% - 165px);
    padding: 19.09px;
    position: relative;
    top: calc(50.00% - 34px);
}

.div-wrapper .google-logo {
    height: 30.54px;
    position: relative;
    width: 30.54px;
}

.div-wrapper .text-wrapper-4 {
    color: #0000008a;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25.4px;
    font-weight: 500;
    height: 29.27px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.27px;
    position: relative;
    white-space: nowrap;
    width: 241.77px;
}

.div-wrapper .kakao-login-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 365px;
}

.div-wrapper .kakao-login-instance {
    align-self: stretch !important;
    height: 61px !important;
    left: unset !important;
    top: unset !important;
    width: 100% !important;
}

.div-wrapper .design-component-instance-node {
    height: 36px !important;
    margin-bottom: -17.50px !important;
    margin-top: -17.50px !important;
    position: relative !important;
    width: 36px !important;
}

.div-wrapper .kakao-login-2 {
    margin-bottom: -18.50px !important;
    margin-top: -18.50px !important;
}
