.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 1024px;
    min-width: 1440px;
    width: 100%;
}

.screen .frame {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    gap: 182px;
    height: 86px;
    justify-content: center;
    padding: 26px 39px;
    position: relative;
    width: 1440px;
}

.screen .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: -11.00px;
    margin-top: -11.00px;
    position: relative;
}

.screen .text-wrapper {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 56px;
    justify-content: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 439px;
}

.screen .user-wrapper {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    gap: 10px;
    left: 1357px;
    padding: 10px;
    position: absolute;
    top: 21px;
}

.screen .icon-instance-node {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.screen .arrow-left-sharp {
    height: 35px !important;
    left: 39px !important;
    position: absolute !important;
    top: 26px !important;
    width: 35px !important;
}

.screen .div {
    align-items: center;
    border: 1px solid;
    border-color: #b5b5b5;
    display: flex;
    height: 938px;
    justify-content: space-between;
    position: relative;
    width: 1440px;
}

.screen .frame-2 {
    background-image: url(./frame-47.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 938px;
    position: relative;
    width: 1072px;
}

.screen .image {
    aspect-ratio: 2.12;
    height: 938px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1072px;
}

.screen .frame-3 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #b5b5b5;
    display: inline-flex;
    left: 17px;
    padding: 0px 10px;
    position: absolute;
    top: 14px;
}

.screen .frame-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.screen .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.screen .search-bar {
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 25px;
    display: flex;
    height: 54px;
    justify-content: space-between;
    left: 427px;
    padding: 11px 21px;
    position: absolute;
    top: 14px;
    width: 616px;
}

.screen .group {
    height: 25.41px;
    position: relative;
    width: 195px;
}

.screen .text-wrapper-3 {
    color: #00000091;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 100%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 98.97%;
}

.screen .iconsax-linear-wrapper {
    border: 1px solid;
    border-color: #00000042;
    border-radius: 15px;
    height: 38px;
    margin-bottom: -3.00px;
    margin-top: -3.00px;
    position: relative;
    width: 38px;
}

.screen .iconsax-linear {
    height: 36.47%;
    left: 29.33%;
    position: relative;
    top: 31.25%;
    width: 41.33%;
}

.screen .vector {
    height: 83.33%;
    left: 3.56%;
    position: absolute;
    top: 2.92%;
    width: 83.33%;
}

.screen .frame-5 {
    border: 1px solid;
    border-color: #b5b5b5;
    height: 938px;
    position: relative;
    width: 368px;
}

.screen .frame-6 {
    align-items: center;
    background-color: #5778ff;
    display: inline-flex;
    gap: 88px;
    justify-content: center;
    left: 0;
    padding: 0px 15px;
    position: absolute;
    top: 0;
}

.screen .arrow-left-01-sharp {
    height: 35px !important;
    position: relative !important;
    width: 35px !important;
}

.screen .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .frame-7 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 56px;
    width: 368px;
}

.screen .frame-wrapper {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 6px 12px;
    position: relative;
    width: 100%;
}

.screen .frame-8 {
    align-items: center;
    background-color: #5a6aff;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 34px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 80px;
}

.screen .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -1.50px;
    margin-top: -3.50px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .frame-9 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid;
    border-color: #e2dfdf;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.screen .frame-10 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 17px 15px 17px 0px;
    position: relative;
    width: 186px;
}

.screen .group-2 {
    height: 39px;
    position: relative;
    width: 156px;
}

.screen .frame-11 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 28px;
    padding: 10px;
    position: absolute;
    top: 0;
}

.screen .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .frame-12 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
}

.screen .frame-13 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 15px;
    position: relative;
}

.screen .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .frame-14 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 21px 20px;
    position: relative;
    width: 112px;
}

.screen .frame-15 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

.screen .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Thin", Helvetica;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.screen .delete {
    height: 17px !important;
    position: relative !important;
    width: 17px !important;
}

.screen .frame-16 {
    align-items: center;
    align-self: stretch;
    border: 1px solid;
    border-color: #e2e0e0;
    display: flex;
    gap: 10px;
    height: 64px;
    justify-content: center;
    padding: 3px 125px;
    position: relative;
    width: 100%;
}

.screen .navigation {
    height: 13px !important;
    position: relative !important;
    width: 13px !important;
}

.screen .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .group-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 0px 78px;
    position: relative;
    width: 100%;
}

.screen .group-3 {
    height: 32px;
    position: relative;
    width: 113.5px;
}

.screen .note-add {
    height: 15px !important;
    left: 0 !important;
    position: absolute !important;
    top: 6px !important;
    width: 15px !important;
}

.screen .frame-17 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 14px;
    padding: 10px;
    position: absolute;
    top: 0;
}
