.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 1024px;
    min-width: 1440px;
    width: 100%;
}

.screen .frame {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    gap: 182px;
    height: 86px;
    justify-content: center;
    padding: 26px 39px;
    position: relative;
    width: 1440px;
}

.screen .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: -11.00px;
    margin-top: -11.00px;
    position: relative;
}

.screen .text-wrapper {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 56px;
    justify-content: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 439px;
}

.screen .user-wrapper {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-flex;
    gap: 10px;
    left: 1357px;
    padding: 10px;
    position: absolute;
    top: 21px;
}

.screen .user-instance {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}

.screen .arrow-left-sharp {
    height: 35px !important;
    left: 39px !important;
    position: absolute !important;
    top: 26px !important;
    width: 35px !important;
}

.screen .div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 541px;
    position: relative;
    width: 1440px;
}

.screen .frame-wrapper {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 17px 81px;
    position: relative;
    width: 100%;
}

.screen .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.screen .add-circle {
    height: 50px !important;
    position: relative !important;
    width: 50px !important;
}

.screen .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.screen .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.screen .frame-4 {
    align-items: center;
    align-self: stretch;
    border: 1px solid;
    border-color: #b5b5b5;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.screen .frame-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 224px;
    justify-content: center;
    padding: 5px 23px;
    position: relative;
    width: 1109px;
}

.screen .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.screen .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.screen .frame-6 {
    align-items: center;
    display: flex;
    gap: 36px;
    height: 224px;
    justify-content: flex-end;
    padding: 56px 88px;
    position: relative;
    width: 331px;
}

.screen .icon-instance-node {
    height: 30px !important;
    position: relative !important;
    width: 30px !important;
}
